*{
    margin:0;
    padding:0;
}
body{
text-align: center;
 background-color: rgb(212, 197, 177);
}
h1{
    margin-top: 50px;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    width:30vw;
    height:50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    background-color: rgb(138, 186, 186);
    border-radius:5px;
    box-shadow: 2px 2px rgb(34, 34, 35);
    font-size:50px;
    width:90px;
    height:90px;
    margin:5px;
    color:rgb(237, 113, 10);
}
.rst{
    border-radius: 5px;
    background-color: black;
    color:aliceblue;
    margin:100px;
    padding :10px;
}
.msg{
    padding:10px;
    font-size:25px;
}
.newgame{
    margin-top: 20px;
    padding:5px;
    border:3px solid black;
    border-radius: 5px;
}
.hide{
    display:none;
}